[project]
	description = Very short introduction to RxJava
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dieter Vekeman (dvekeman)
[access "refs/for/refs/*"]
	read = group user/Dieter Vekeman (dvekeman)
	push = group user/Dieter Vekeman (dvekeman)
	label-Code-Review = -2..+2 group user/Dieter Vekeman (dvekeman)
	label-Verified = -1..+1 group user/Dieter Vekeman (dvekeman)
	rebase = group user/Dieter Vekeman (dvekeman)
	removeReviewer = group user/Dieter Vekeman (dvekeman)
	submit = group user/Dieter Vekeman (dvekeman)
[access "refs/heads/*"]
	read = group user/Dieter Vekeman (dvekeman)
	create = group user/Dieter Vekeman (dvekeman)
	push = +force group user/Dieter Vekeman (dvekeman)
	pushMerge = group user/Dieter Vekeman (dvekeman)
[access "refs/tags/*"]
	push = group user/Dieter Vekeman (dvekeman)
	push = +force group user/Dieter Vekeman (dvekeman)
